@import "~antd/dist/antd.css";

.footer {
  padding: 24px 50px;
  color: #d4cdd4;
  font-size: 14px;
  background: #20044d;
  position: absolute;
  height: 25px;
  bottom: 0;
  width: 100%;
}

.footerImageContainer {
  padding: 5px;
  position: absolute;
  bottom: 0;
  margin-left: 1700px;
}

.footerImages {
  margin: 2px;
  border-radius: 1px;
  padding: 2px;
  width: 33px;
}
